{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'JSAccordion/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="{% static 'JSAccordion/script.js' %}" defer></script>
  <title>{{ page_title }}</title>
</head>

<body>
  <div class="content">
    {% block content %}
      content
    {% endblock %}
  </div>

</body>

</html>