{% extends 'JSAccordion/base.html' %}

{% block content  %}
<h1>Accordion</h1>

<div class="accordion">

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">Current Activities</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>None</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">Organizational Experience</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>HPD KMK</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">EO Experience</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>None</li>
    </ul>
  </div>

  <div>
    <div class="panel">
      <a class="parent" href="javascript:void(0);">Achievements</a>
      <a class="up" href="javascript:void(0);">^</a>
      <a class="down" href="javascript:void(0);">v</a>
    </div>
    <ul class="child">
      <li>None</li>
    </ul>
  </div>

</div>

{% endblock  %}